body {
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
}

.section {
  background: linear-gradient(to right, #000 32%, #fff 32%);
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: space-between;
  width: 100%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  height: 92px;
  font-weight: 500;
  cursor: pointer;
}

.header__side {
   display: flex;
   justify-content: space-between;
   min-height: 100%;
   width: 32%;
}

.header__logo {
  z-index: 1;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  padding: 36px 0 0 52px;
  text-decoration: none;
}

.header__lang {
  position: relative;
  width: 50px;
  height: 25px;
  z-index: 1;
  display: block;
  margin-top: 42px;
  padding-right: 38px;
}

.lang__name {
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

.lang__name:after {
  background: url(images/Vectorlang.png) no-repeat scroll center center;
  position: absolute;
  content: "";
  top: 12px;
  left: 54px;
  width: 11px;
  height: 5.5px;
}

.menu__frame {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 92px;
  width: 92px;
  z-index: 1;
  background: #f5f5f3;
  justify-content: center;
}

.menu__frame > span,
.menu__frame > span::before {
  background: #000;
  display: block;  
  position: absolute;
  width: 34.7px;
  height: 3.48px;
  }

.menu__frame > span::before {
  content: "";
  bottom: 8px;
  }

  @media (max-width: 962px) {
	.header {
		max-height: 69px;
		background: #fff;
	}

	.header__logo {
  		color: #000;
    	padding: 14px 0 18px 26px;
 	}

 	.header__lang {
 		display: none;
 	}

 	.menu__frame {
  		max-height: 69px;
  		max-width: 70px;
 	}

  .menu__frame > span,
  .menu__frame > span::before {
    width: 26.4px;
    height: 2.61px;
  }
 }

/* Main */

main {
	display: flex;
	justify-content: center;
  padding: 20px 0 0 17px;
}

.main__picture {
  width: 38.1%;
  height: 562px;
  background: url(images/pete-bellis-432867-unsplash.png) no-repeat;
  margin-right: 3.6%;
  background-size: contain;
  background-position: center;
}

.main__promo {
  width: 34.1%;
  display: flex;
  flex-direction: column;
  margin-top: 7.2%;
}

.promo__title {
  font-weight: bold;
  font-size: 4.9vw;
  line-height: 82px;
  margin: 0 0 18px 0;
}

.promo__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 8.1%;
  width: 95%;
}

.promo__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap__text {
  width: 41.3%;
  height: 44px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  margin-right: 7.3%;
  cursor: pointer;
}

.wrap__other {
  font-size: 13px;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.wrap__arrow {
  cursor: pointer;
}

.section__bottom {
   align-items: center;  
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: space-between;
}

.social__list {
   cursor: pointer;
   display: flex;
   width: 205px;
   list-style: none;
   padding-left: 3.6%;
}

.social__list li {
  margin: 0 12px 0 0;
}

.bottom__scrooll {
  height: 46px;
}

.bottom__right {
  width: 17%;
}

.bottom__scroll_mob {
	display: none;
}

@media (max-width: 962px) {

  .section {
    background: url(images/pete-bellis-432867-unsplash-mob.png) no-repeat;
    background-position: 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 961px;
    max-height: 596px;
  }

	main {
	  height: 100%;
    align-items: flex-end;
    padding: 0 0 20px;
  }

	.main__picture,
  .promo__text,
	.promo__wrap,
  .section__bottom {
		display: none;
  	}

  	.main__promo {
  		max-height: 169px;
  		width: 100%;
  		display: flex;
  		flex-direction: column;
  		margin: 0;
  	}

  	.promo__title {
  		cursor: pointer;
  		font-size: 50px;
  		line-height: 51px;
  		margin-bottom: 28px;
  		max-height: 103px;
  		padding: 0 0 2px 27px;
  	}

  	.bottom__scroll_mob {
  		cursor: pointer;
  		display: block;
  		width: 28px;
  		height: 14px;
  		align-self: center;
  	}
}

@media (min-width: 376px) {
  .section {
    background-size: cover;
    background-position: top;
  }
}