body {
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  height: 92px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(to right, #000 461px, #fff 461px);
}

.header__side {
   display: flex;
   justify-content: space-between;
   min-height: 100%;
   width: 461px;
}

.header__logo {
  z-index: 1;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  padding: 36px 0 0 52px;
  text-decoration: none;
}

.header__lang {
  position: relative;
  width: 50px;
  height: 25px;
  z-index: 1;
  display: block;
  margin-top: 42px;
  padding-right: 38px;
}

.lang__name {
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

.lang__name:after {
  background: url(images/Vectorlang.png) no-repeat scroll center center;
  position: absolute;
  content: "";
  top: 12px;
  left: 54px;
  width: 11px;
  height: 5.5px;
}

.menu__frame {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 92px;
  width: 92px;
  z-index: 1;
  background: #f5f5f3;
  justify-content: center;
}

.menu__frame > span,
.menu__frame > span::before {
  background: #000;
  display: block;  
  position: absolute;
  width: 34.7px;
  height: 3.48px;
  }

.menu__frame > span::before {
  content: "";
  bottom: 8px;
  }

  @media (max-width: 962px) {
	.header {
		max-height: 69px;
		background: none;
	}

	.header__logo {
  		color: #000;
    	padding: 14px 0 18px 26px;
 	}

 	.header__lang {
 		display: none;
 	}

 	.menu__frame {
  		max-height: 69px;
  		max-width: 70px;
 	}

  .menu__frame > span,
  .menu__frame > span::before {
    width: 26.4px;
    height: 2.61px;
  }
 }

/* Main */

main {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}

aside {
  width: 461px;
  height: 808px;
  display: flex;
  flex-direction: column;
  }

.aside__part {
  width: 100%;
  height: 100%;
  background: #000;
}

 .aside__bottom {
   width: 100%;
   height: 93px;
   display: flex;
   align-items: flex-start;
   background: #000;
}

.social__list {
   cursor: pointer;
   display: flex;
   width: 205px;
   list-style: none;
   padding: 0 0 0 52px;
   margin: 0 490px 0 0;
}

.social__list li {
  margin: 0 12px 0 0;
}

.section {
  display: flex;
  width: 1100px;
  height: 738px;
  position: relative;
  left: -280px;
  padding-top: 80px;
}

.section__picture {
  width: 549px;
  height: 562px;
  background: url(images/pete-bellis-432867-unsplash.png) no-repeat;
  margin-right: 60px;
}

.section__promo {
  height: 400px;
  width: 491px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.section__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  margin: 0 0 18px 0;
}

article {
  font-weight: normal;
  font-size: 15px;
  height: 127px;
  line-height: 21px;
  margin-bottom: 36px;
  width: 467px;
}

.section__wrap {
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__text {
  width: 203px;
  height: 44px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  margin-right: 36px;
  cursor: pointer;
}

.section__other {
  font-size: 13px;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.section__arrow {
  cursor: pointer;
}

.section__scroll_mob {
	display: none;
}

@media (max-width: 1281px) {
  .section {
    left: -410px;
  }
}

@media (max-width: 962px) {
	aside {
		display: none;
	}

	.section {
		  background: url(images/pete-bellis-432867-unsplash-mob.png) no-repeat;
		  background-position: 0 -55px;
  	  display: flex;
		  flex-direction: column;
		  justify-content: flex-end;
  	  max-width: 961px;
  		max-height: 526px;
  		position: inherit;
  		left: 0;
  		padding: 0;
  	}

	.section__picture, 
	.section__wrap,
	article {
		display: none;
  	}

  	.section__promo {
  		max-height: 169px;
  		width: 100%;
  		display: flex;
  		flex-direction: column;
  		margin: 0;
  	}

  	.section__title {
  		cursor: pointer;
  		font-size: 50px;
  		line-height: 51px;
  		margin-bottom: 23px;
  		max-height: 103px;
  		padding: 7px 0 0 26px;
  	}

  	.section__scroll_mob {
  		cursor: pointer;
  		display: block;
  		width: 28px;
  		height: 14px;
  		align-self: center;
  	}
}