body {
  font-family: Montserrat, sans-serif;
  margin: 0 auto;
  min-width: 375px;
  max-width: 1440px;
}

.section {
  background: linear-gradient(to right, #000 32%, #fff 32%);
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: space-between;
  width: 100%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  height: 92px;
  font-weight: 500;
  cursor: pointer;
}

.header__side {
   display: flex;
   justify-content: space-between;
   min-height: 100%;
   width: 32%;
}

.header__logo {
  z-index: 1;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  padding: 36px 0 0 52px;
  text-decoration: none;
}

.header__lang {
  position: relative;
  width: 50px;
  height: 25px;
  z-index: 1;
  display: block;
  margin-top: 42px;
  padding-right: 38px;
}

.lang__name {
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

.lang__name:after {
  background: url(images/Vectorlang.png) no-repeat scroll center center;
  position: absolute;
  content: "";
  top: 12px;
  left: 54px;
  width: 11px;
  height: 5.5px;
}

.menu__frame {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 92px;
  width: 92px;
  z-index: 1;
  background: #f5f5f3;
  justify-content: center;
}

.menu__frame > span,
.menu__frame > span::before {
  background: #000;
  display: block;  
  position: absolute;
  width: 34.7px;
  height: 3.48px;
  }

.menu__frame > span::before {
  content: "";
  bottom: 8px;
  }

  @media (max-width: 962px) {
	.header {
		max-height: 69px;
		background: #fff;
	}

	.header__logo {
  		color: #000;
    	padding: 14px 0 18px 26px;
 	}

 	.header__lang {
 		display: none;
 	}

 	.menu__frame {
  		max-height: 69px;
  		max-width: 70px;
 	}

  .menu__frame > span,
  .menu__frame > span::before {
    width: 26.4px;
    height: 2.61px;
  }
 }

/* Main */

main {
	display: flex;
	justify-content: center;
  padding: 20px 0 0 27px;
}

.main__picture {
  width: 38.9%;
  height: 562px;
  background: url(images/pete-bellis-432867-unsplash.png) no-repeat;
  margin-right: 4.1%;
  background-size: contain;
  background-position: center;
}

.main__promo {
  width: 34.1%;
  display: flex;
  flex-direction: column;
  margin-top: 7.3%;
}

.promo__title {
  font-weight: bold;
  font-size: 5.6vw;
  line-height: 82px;
  margin: 0 0 18px 0;
}

.promo__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 8.1%;
  width: 95%;
}

.promo__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap__text {
  width: 41.3%;
  height: 44px;
  border: 1.5px solid #000000;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 13px;
  margin-right: 7.3%;
  cursor: pointer;
}

.wrap__other {
  font-size: 13px;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

.wrap__arrow {
  cursor: pointer;
}

.section__bottom {
   align-items: center;  
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: space-between;
}

.social__list {
   cursor: pointer;
   display: flex;
   width: 205px;
   list-style: none;
   padding-left: 3.6%;
}

.social__list li {
  margin: 0 12px 0 0;
}

.bottom__scrooll {
  height: 46px;
  cursor: pointer;
}

.bottom__right {
  width: 17%;
}

.bottom__scroll_mob {
	display: none;
}

@media (max-width: 962px) {

  .section {
    background: url(images/pete-bellis-432867-unsplash-mob.png) no-repeat;
    background-position: 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 961px;
    max-height: 596px;
  }

	main {
	  height: 100%;
    align-items: flex-end;
    padding: 0 0 20px;
  }

	.main__picture,
  .promo__text,
	.promo__wrap,
  .section__bottom {
		display: none;
  	}

  	.main__promo {
  		max-height: 169px;
  		width: 100%;
  		display: flex;
  		flex-direction: column;
  		margin: 0;
  	}

  	.promo__title {
  		cursor: pointer;
  		font-size: 50px;
  		line-height: 51px;
  		margin-bottom: 28px;
  		max-height: 103px;
  		padding: 0 0 2px 27px;
  	}

  	.bottom__scroll_mob {
  		cursor: pointer;
  		display: block;
  		width: 28px;
  		height: 14px;
  		align-self: center;
  	}
}

@media (min-width: 376px) {
  .section {
    background-size: cover;
    background-position: top;
  }
}

/* Clutch page */

.clutch {
  width: 100%;
  height: 900px;
  background: #FAE8E4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clutch__wrap {
  display: flex;
  height: 100%;
  position: relative;
  width: 46%;
  padding-right: 5%;
}

.clutch__photo_small {
  background: url(images/10511040_002.png) no-repeat;
  background-size: contain;
  height: 46%;
  position: absolute;
  top: 24%;
  width: 59%;
}

.clutch__photo_big {
  background: url(images/10511040_001.png) no-repeat;
  background-size: contain;
  height: 94%;
  left: 13%;
  position: absolute;
  top: 3%;
  width: 86%;
}

.clutch__description {
  width: 33.9%;
  height: 653px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 85px 5% 0 0;
}

.clutch__content {
  background: #FFFFFF;
  box-shadow: 25px 25px 40px -34px #808080;
  width: 100%;
  height: 556px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.clutch__text_box {
  height: 100%;
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.clutch__title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 75px;
  margin: 15px 0 71px 0;
  width: 100%;
}

h2 {
  font-weight: bold;
  font-size: 2.8vw;
  height: 0;
  line-height: 41px;
  margin-bottom: 45px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  margin: 10px 0 23px 0;
  opacity: 0.5;
}

.clutch__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  margin-bottom: 41px;
}

.clutch__buttons {
  width: 93.9%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.clutch__color {
  width: 45.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.color__select {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.select__color_grey {
  background: #DEDEDE;
}

.select__color_active {
  width: 38px;
  height: 38px;
  background: #F29F9F;
}

.select__color_blue {
  background: #A8BFF9;
}

.select__color_green {
  background: #90BD8F;
}

.clutch__price {
  font-weight: bold;
  font-size: 2.8vw;
  line-height: 56px;
  color: #000000;
}

.clutch__cart_wrap {
  display: flex;
  width: 96.4%;
  justify-content: space-between;
  align-items: center;
}

.cart__quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 41px;
  width: 27.2%;
  border: 1.5px solid #000000;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
}

.cart__add {
  height: 44px;
  width: 68.8%;
  border: 1.5px solid #000000;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 0px;
}

.clutch__other {
  display: flex;
  margin-left: 2px;
}

.clutch__other_products {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-right: 18px;
}

.clutch__other_link {
  cursor: pointer;
}

@media (max-width: 962px) {

    .clutch__photo_small,
    .clutch__other,
    .cart__quantity {
      display: none;
    }

    .clutch {
      max-width: 961px;
      max-height: 596px;
      display: flex;
      flex-direction: column;
    }

    .clutch__wrap {
      display: flex;
      height: 45.1%;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-right: 0;
    }

    .clutch__photo_big {
      background: url(images/10511040_001.png) no-repeat;
      background-position: center;
      background-size: cover;
      height: 80%;
      margin-bottom: 12%;
      position: unset;
      width: 59.7%;
    }

  .clutch__description {
    align-items: center;
    width: 100%;
    height: 55.9%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
   }

    .clutch__content {
      background: #FFFFFF;
      box-shadow: 25px 25px 40px -34px #808080;
      width: 85.1%;
      height: 84.4%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .clutch__text_box {
      height: 100%;
      width: 81.3%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .clutch__title {
      display: flex;
      flex-direction: column;
      height: 34px;
      width: 100%;
      justify-content: flex-end;
      margin: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 5.4vw;
      height: 23.15px;
      line-height: 20px;
      margin-bottom: 12px;
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 10px;
      letter-spacing: 0.07em;
      opacity: 0.5;
      margin: 0;
    }

    .clutch__text {
      font-weight: normal;
      font-size: 9px;
      line-height: 13px;
      opacity: 0.5;
      margin: 0;
      padding: 0;
    }

    .clutch__buttons {
      width: 96.7%;
      display: flex;
      justify-content: space-between;
      margin: 0 0 17px 3px;
    }

.clutch__color {
    width: 51.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .color__select {
      height: 22.9px;
      width: 23.4px;
      border-radius: 50%;
    }

    .select__color_active {
      width: 29.4px;
      height: 29px;
      background: #F29F9F;
    }

    .clutch__price {
      font-weight: bold;
      font-size: 5.4vw;
      line-height: 29px;
      color: #000000;
    }

    .clutch__cart_wrap {
      width: 100%;
      margin: 0 0 12px 2px;
    }

    .cart__add {
      height: 37px;
      width: 100%;
      border: 1.5px solid #000000;
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 0px;
      text-align: center;
    }

}

@media (min-width: 391px) {

  .clutch__photo_big {
    background-size: contain;
  }

}

@media (max-width: 391px) {

  h2 {
    margin-bottom: 3px;
  }
}


/* Set page */

.set {
  align-items: center;
  background: linear-gradient(to right, #EBE3D8 26.9%, #000 26.9% 32%, #EBE3D8 32%);
  display: flex;
  height: 900px;
  position: relative;
  width: 100%;
}

.set__image {
  width: 57.4%;
  height: 621px;
  background: url(images/photo-1516762689617-e1cffcef479d.png) no-repeat scroll center center;
  background-size: cover;
  box-shadow: 0 25px 40px -28px #808080;
  left: 6%;
  position: absolute;
}

.set__description {
  width: 33%;
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 56.8%;
  position: absolute;
}

.set__content {
  background: #FAE8E4;
  width: 100%;
  height: 351px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 43px;
}

.set__text_box {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.set__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 75px;
  width: 100%;
}

.set__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  margin: 0 0 19px 3px;
  width: 93%;
}

.set__cart_wrap {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
}

.set__other {
  display: flex;
  justify-content: flex-end;
  margin-left: 3px;
  width: 100%;
}

.set__other_products {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-right: 17px;
}

.set__other_link {
  cursor: pointer;
}

.footer {
  display: flex;
  align-self: flex-end;
  align-items: center;
  height: 60px;
  justify-content: space-around;
  left: 84%;
  position: absolute;
  width: 15%;
}

.footer__developed {
  font-weight: bold;
  font-size: 0.83vw;
  height: 15px;
  line-height: 15px;
}

.footer__logo {
 width: 38%;
}

@media (max-width: 1400px) {

  .set__text_box {
    width: 81%;
  }
}

@media (max-width: 962px) {

  .cart__quantity,
  .footer {
    display: none;
  }

  .set {
    background: linear-gradient(to right, #EBE3D8 27.1%, #000 27.1% 38%, #EBE3D8 38%);
    display: flex;
    max-width: 961px;
    max-height: 596px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }

  .set__image {
    width: 92.6%;
    height: 43.7%;
    background: url(images/photo-1516762689617-e1cffcef479d.png) no-repeat scroll center center;
    background-size: contain;
    box-shadow: none;
    margin-top: 8.7%;
    position: unset;
  }

  .set__description {
    width: 81.3%;
    height: 54.2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 12%;
    top: 45.9%;
  }

  .set__content {
    background: #FAE8E4;
    width: 100%;
    height: 60.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .set__text_box {
    height: 100%;
    width: 84.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .set__title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
  }

  .set__text {
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    opacity: 0.5;
    margin: 0;
  }

  .set__cart_wrap {
    width: 100%;
    margin: 0 0 19px 0;
  }

  .set__other {
    display: flex;
    justify-content: flex-start;
    width: 61.6%;
    align-self: flex-end;
    flex-direction: column;
    margin: 37px 0 0 0;
  }

  .set__other_products {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin: 0 0 3px 26px;
    width: 80%;
  }
}

@media (max-width: 391px) {

  .set__image {
    box-shadow: 0 25px 40px -28px #808080;
  }

  .set__title {
    margin-bottom: 0;
  }
}

